<div id="eval_<%= book.id %>"></div>

<script>
$(document).on("turbolinks:load", function() {
  let eval_<%= book.id %> = document.querySelector("#eval_<%~ book.id %>");
  eval_<%= book.id %>,innerHTML = ""



  let opt_<%= book.id %> = {
    //星画像の指定などのオプションをここに記述,
    number: 5,
    starHalf: "<%= asset_path('star-half.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    score: <%= book.evaluation %>",
    readOnly: true,
   };
  raty(eval_<%= book.id %>,opt_<%= book.id %>);
});
  // 何故かハーフが適応されない。
</script>